
body{
 background-color:  #2b2b2b;
 background-image: url("back.jpg");
}





#navdiv{
  width: 100%;
  height: 50;
  background-color: black;
  margin-top: -10;
  margin-left: 10;
}
#buttondiv{
  height: 60;
  width:100%;
  box-shadow: none;
  margin-left: 130;
}
button{
  height: 40;
  width: 170;
  background-color: black;
  color: white;
  border: none;
  margin-left: 10;
  margin-top: 5;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 15;
}
button:hover{
  background-color:#489cf0;
  border-radius: 20px;
  font-size: 16;
}

#topic{
   font-size: 60px;
   margin-left: 35%;
   margin-top: 3%;
   color: white;
}

#slogan {
  font-size: 20px;
  color: white;
  margin-top: 10;
  margin-left: 195;
}


img.up{
  width:100%;
  height: 370;
  margin-top: 2%;
  opacity: 60%;
}

#details{
  width: 40%;
  height: 100%;
  background-color: silver;
  margin-top: 30;
  margin-left: 33%;
  opacity: 65%;
}

#contactus{
  margin-left: 35.8%;
  margin-top: 0;
  font-size:30px;
  
}
#details:hover{
  box-shadow: 0px 20px 20px #4a4949;
}











#bottomdiv{
  width: 100%;
  height: 50%;
  margin-bottom: none;
  margin-top: 20;
  background-color: black;
  }

  table.bottomtable{
  margin-left: 1050;
  color: white;
}
td.bottomtd{
  padding: 2;
}